<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <%= link_to "OzoneLevel", root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= form_with(url: zipcode_path, method: :post, class: 'd-flex') do |form| %>
      <%= form.text_field :zipcode, class: 'form-control me-2', placeholder: 'Enter Zipcode', aria: { label: 'Enter Zipcode' } %>
      <%= form.submit 'Search', class: 'btn btn-outline-secondary' %>
    <% end %>
  </div>
</nav>