<div class="bg-light p-5 rounded-3 m-3">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is the current ozone air quality readout for a heighbourhood in Las Vegas.</p>
    <hr class="my-4">
    <p>Hit "reload" in you web browser to update reading...</p>
    <a class="btn btn-secondary btn-lg" href="#" role="button">Learn more</a>
</div>